
                # invoice ( table )
                table = tabulate(product_arr, ["Item", "Qty", "Price"], tablefmt="fancy_outline")

                message = (
                            f"<strong>Invoice {'':>21}</strong> : {invoice_num}\n"
                            f"<strong>Date </strong> {'':>25} : {date.today()}\n"
                            f"<strong>Customer {'Num ' if op == 1 else 'Email' } </strong> {'':>2} : {customer_info}\n"
                            f"<strong>Sold by </strong> {'':>20} : {user_name}\n\n"
                            f"<pre>{table}</pre>"
                            f"\n\n<strong>{'Total':<73}</strong>{format_currency(total_amount,'USD',locale='en_US')}\n"
                            f"<strong>{'Receive':<70}</strong>{format_currency(amount, 'USD', locale='en_US')}\n"
                            f"<strong>{'Change':<69}</strong>{format_currency(amount-total_amount, 'USD', locale='en_US')}"

                           )

                time.sleep(2)
                html = message
                url = f"https://api.telegram.org/bot{token}/sendMessage?chat_id={chat_id}&text={quote_plus(html)}&parse_mode=html"
                r = requests.get(url)